html {
	font-family: 'Open Sans', sans-serif;
	background: url("../images/knitting250px.png");
	color: #3a434c;
	text-shadow: 0 1px #fff;
	font-weight: 300;
}

strong {
	font-weight: 600;
}

header {
	padding: 70px 30px 0 30px;
}

section {
	padding: 30px 30px 15px 30px;
}

h1 {
	font-size: 30px;
	text-shadow: 0 1px #fff;
	line-height: 30px;
	padding-bottom: 5px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	border-bottom: 1px solid #fff;
	margin-bottom: 10px;
	font-weight: 600;
}

h3 .block {
	display: block;
	border-bottom: 1px solid #3a434c;
	padding-bottom: 10px;
}

h3 .pound-sign {
	padding-right: 10px;
	display: inline-block;
}

a {
	color: #496797;
}

a:hover {
	color: #202e43;
}

ul li {
	padding-bottom: 60px;
}

footer,
.sticky-nav {
	text-shadow: 0 1px #000;
	color: #8296aa;
}

footer,
.sticky-nav {
	background: #444;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111');
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
	background: -moz-linear-gradient(top,  #333,  #111);
}

footer {
	font-size: 14px;
	border-top: solid 1px #000;
}

footer > div {
	border-top: solid 1px #555;
	padding: 20px 30px;
}

footer div div {
	font-size: 16px;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	color: #8EA7C0;
	text-decoration: underline;
}

.sticky-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 41px;
	border-bottom: solid 1px #000;
}

.sticky-nav > div {
	height: 40px;
	border-bottom: solid 1px #777;
	padding: 0 30px;
	line-height: 40px;
}

.about {
	padding-bottom: 60px;
}

.about h2 {
	padding-bottom: 10px;
}

p + p {
	padding-top: 20px;
}

.btn {
	display: none;
	background: #ccc;
	line-height: 17px;
	color: #333;
	text-decoration: none;
	border-radius: 5px;
	text-shadow: 0 1px #fff;
	cursor: pointer;
	font-weight: 400;
	opacity: 0.7;
}

.btn span {
	display: inline-block;
	border-top: solid 1px #ddd;
	border-radius: 5px;
	padding: 5px 10px;
}

.btn:hover {
	opacity: 1.0;
	color: #fff;
	text-shadow: 0 1px #000;
	background: #444;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111');
	background: -webkit-gradient(linear, left top, left bottom, from(#a0b7cf), to(#748698));
	background: -moz-linear-gradient(top,  #007fe0,  #111);
}

.btn:hover span {
	border-top: solid 1px #b8d3ee;
}

.btn .icon-circle-arrow-left {
	margin-right: 6px;
}

.btn .icon-circle-arrow-right {
	margin-left: 6px;
}

.rank-output {
	display: inline-block;
	padding-left: 10px;
}

@media (max-width: 550px) {
	.sticky-nav {
		display: none;
	}
	header {
		padding-top: 30px;
	}
}